Задача: <input type="text" size="5" name="name" [(ngModel)]="name">
Категория: <input type="text" size="5" name="category" [(ngModel)]="category">
Начало<input type="text" size="5" name="dateStart" [(ngModel)]="dateStart">
Окончание: <input type="text" size="5" name="dateEnd" [(ngModel)]="dateEnd">
Статус: <input type="text" size="5" name="status" [(ngModel)]="status">
<button class="btn btn-success" (click)="saveTask()">Сохранить</button>
<button class="btn btn-success" (click)="cancel()">Отмена</button>
