<app-statistic
  [tasksAll]="getTaskListsSize()"
  [tasksFinish]="getTasksAmountByStatus('Выполнено')"
  [tasksOverdue]="getTasksAmountByStatus('Просрочено')"
  [tasksPlanned]="getTasksAmountByStatus('Запланировано')"
></app-statistic>
<br><br>
<button class="btn btn-success" (click)="addTask()">Добавить задачу</button>
<input type="checkbox" name="target" (change)="filterTasks($event)">Показывать завершенные задачи
<table>
  <tr>
    <th>Название задачи</th>
    <th>Категория</th>
    <th>Дата начала</th>
    <th>Дата окончания</th>
    <th>Статус</th>
    <th>Команда</th>
  </tr>
  <tr *ngFor="let item of tasks; let i = index">
      <td *ngIf="item.status === 'Выполнено'&& visible">{{item.name}}</td>
      <td *ngIf="item.status === 'Выполнено'&& visible">{{item.category}}</td>
      <td *ngIf="item.status === 'Выполнено'&& visible">{{item.dateStart}}</td>
      <td *ngIf="item.status === 'Выполнено'&& visible">{{item.dateEnd}}</td>
      <td [ngStyle]="{'background-color': item.status === 'Просрочено' ? 'red' : 'white'}"  *ngIf="item.status === 'Выполнено'&& visible">{{item.status}}</td>
      <td *ngIf="item.status === 'Выполнено'&& visible">
        <button class="btn btn-danger" (click)="deleteTaskFromArray(item.name)">Удалить задачу</button>
      </td>
  </tr>
</table>
<app-list-row
  [name]="'Убрать под столом'"
  [category]="'Рабочие вопросы'"
  [dateStart]="'24.08.2018 19:00	'"
  [dateEnd]="'24.08.2018 10:00'"
  [status]="'Просрочено'"
  (deleteTaskEmitter)="deleteTaskFromArray($event)"></app-list-row>
