<!--<p>
  task-list works!
</p>-->
<table>
  <tr>
    <th>Название задачи</th>
    <th>Категория</th>
    <th>Дата начала</th>
    <th>Дата окончания</th>
  </tr>
  <tr>
    <td>Помыть посуду</td>
    <td>Работа по дому</td>
    <td>23.08.2018 23:00</td>
    <td>23.08.2018 23:30</td>
  </tr>
  <tr>
    <td>Проверить почту</td>
    <td>Рабочие вопросы</td>
    <td>24.08.2018 09:00</td>
    <td>24.08.2018 10:00</td>
  </tr>
  <tr>
    <td>Купить телефон</td>
    <td>Дом</td>
    <td>24.08.2018 19:00</td>
    <td>24.08.2018 20:00</td>
  </tr>
</table>
