<app-statistic
  [tasksAll]="getTaskListsSize()"
  [tasksFinish]="getTasksAmountByStatus('Выполнено')"
  [tasksOverdue]="getTasksAmountByStatus('Просрочено')"
  [tasksPlanned]="getTasksAmountByStatus('Запланировано')"
></app-statistic>
<br><br>
<div *ngIf="editMode === false">
  <app-task-add (addTaskEmitter)="addTask($event)"></app-task-add>
</div>
<div *ngIf="editMode === true">
  <app-task-edit (editTaskEmitter)="saveEdit($event)"
                 [edit]="edit">
  </app-task-edit>
</div>
<input type="checkbox" name="target" (change)="filterTasks($event)">Показывать завершенные задачи
<table>
  <tr>
    <th>Название задачи</th>
    <th>Категория</th>
    <th>Дата начала</th>
    <th>Дата окончания</th>
    <th>Статус</th>
    <th>Команда</th>
    <th>Команда</th>
  </tr>
  <tr *ngFor="let item of tasks; let i = index">
    <ng-container *ngIf="item.status === 'Выполнено'&& visible||!visible">
      <td>{{item.name}}</td>
      <td>{{item.category}}</td>
      <td>{{item.dateStart}}</td>
      <td>{{item.dateEnd}}</td>
      <td [ngStyle]="{'background-color': item.status === 'Просрочено' ? 'red' : 'white'}">{{item.status}}
      </td>
      <td>
        <button class="btn btn-danger" (click)="deleteTaskFromArray(item.name)">Удалить задачу</button>
      </td>
      <td>
        <button class="btn btn-danger" (click)="editTask(item,i)">Редактировать</button>
      </td>
    </ng-container>
  </tr>
</table>
<app-list-row
  [name]="'Убрать под столом'"
  [category]="'Рабочие вопросы'"
  [dateStart]="'2018-08-24'"
  [dateEnd]="'2018-08-25'"
  [status]="'Просрочено'"></app-list-row>
<!--(deleteTaskEmitter)="deleteTaskFromArray($event)"-->
